.link {
    position: relative;
    font-size: 14px;
}
.activeLink {
    &::after {
    content: '';
    position: absolute;
    height: 3px;
    background-color: tomato;
    width: 80%;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
    }
}