main{
  padding: 10px;
  max-width: 600px;
  margin: 0 auto;
}
header{
  display: flex;
  justify-content: start;
}
a{
  display: block;
  text-decoration: none;
  color: black;
}
:global(.dark) a {
  color: pink;
}